@using Template.Application.Managers.Queries.GetManagerById;
@using Template.Application.Managers.Commands.Update;
@using Template.Domain.Enumerations;

@{
    ViewData["Title"] = "Edit Manager";
    ManagerViewModel manager = Model.ManagerViewModel;
    UpdateManagerCommand command = Model.UpdateManagerCommand;
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Manager" asp-action="Edit" method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@command.FirstName"></label>
                <input asp-for="@command.FirstName" class="form-control" value="@manager.FirstName" />
            </div>
            <div class="form-group">
                <label asp-for="@command.LastName"></label>
                <input asp-for="@command.LastName" class="form-control" value="@manager.LastName" />
            </div>
            <div class="form-group">
                <label asp-for="@command.ReceptionDay"></label>
                <select asp-for="@command.ReceptionDay" asp-items="Html.GetEnumSelectList<WeekDay>()" class="browser-default custom-select form-control form-control-lg">                
                </select>
            </div>
            <input asp-for="@command.Id" class="form-control" type="hidden" value="@manager.Id" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>


