@using Template.Application.TodoLists.Queries.GetTodos;

@model TodosVm;

<div class="col-sm-4">
    <div class="clearfix">
        <h2 class="float-left">Lists</h2>
    </div>
    <vc:create-todo-list></vc:create-todo-list>
    @if (Model.Lists != null)
    {
        <ul class="list-group">
            @foreach (var list in Model.Lists)
            {
                string active = list.IsSelected == true ? "list-item-active" : string.Empty;
                <li class="list-group-item">
                    <div class="clearfix">
                        <div class="float-left">
                            <a class="list-group-item list-group-item-action @active"
                               asp-controller="TodoItems"
                               asp-action="Get"
                               asp-route-id="@list.Id">
                                @list.Title
                            </a>
                        </div>
                        <div class="float-right">
                            <form asp-controller="TodoLists" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@list.Id" />
                                <span class="badge badge-warning badge-pill">@list.Items.Count</span>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@list.Id">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal_@list.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Plase, confirm!</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you wat to delete this list with his items?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>

            }
        </ul>
    }
</div>

