@using Template.Application.Managers.Queries.GetManagerById;
@using Template.Application.Managers.Commands.Delete;
@using Template.Domain.Enumerations;

@{
    ViewData["Title"] = "Delete Manager";
    ManagerViewModel manager = Model.ManagerViewModel;
    DeleteManagerCommand command = Model.DeleteManagerCommand;
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Manager" asp-action="Delete" method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="FirstName"></label>
                <input id="FirstName" class="form-control" value="@manager.FirstName" disabled />
            </div>
            <div class="form-group">
                <label for="LastName"></label>
                <input for="LastName" class="form-control" value="@manager.LastName" disabled />
            </div>
            <div class="form-group">
                <label for="ReceptionDay"></label>
                <select id="ReceptionDay" asp-items="Html.GetEnumSelectList<WeekDay>()" disabled class="browser-default custom-select form-control form-control-lg">
                </select>
            </div>
            <input asp-for="@command.Id" class="form-control" type="hidden" value="@manager.Id" />
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>


